<div class="pull-right">
  <button class="btn btn-success btn-xs" {{action "createContractitem"}}>
    <span class="glyphicon glyphicon-plus" /> New Position
  </button>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Position</th>
      <th>Term (months)</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Product Number</th>
      <th>Description</th>
      <th>Amount (Unit)</th>
      <th>Marge (%)</th>
      <th>Volume B/W (pages)</th>
      <th>Volume Color (pages)</th>
      <th>Price (EUR)</th>
      <th>Rate (EUR)</th>
      <th>Monitoring (EUR)</th>
      <th>Discount (EUR)</th>
      <th>Value excl. VAT (EUR)</th>
      <th>VAT</th>
      <th>Value incl. VAT (EUR)</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    {{#each contractitem in controller}}
      {{contractitem-line item=contractitem}}
    {{/each}}
  </tbody>
  </thead>
</table>