<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Contracts
      <div class="pull-right">
        <button class="btn btn-success btn-xs" {{action "create"}}>
          <span class="glyphicon glyphicon-plus" /> Create Contract
        </button>
      </div>
    </h1>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Term (months)</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Created at</th>
        <th>Updated at</th>
      </tr>
    </head>
    <tbody>
      {{#each contract in controller}}
        {{contract-line item=contract}}
      {{/each}}
    </tbody>
  </table>
</div>

{{outlet}}